<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyResume</title>
</head>
<body>
    <div>
        <img src="/static/ruben_photo.jpeg" alt="picture of Ruben Sanduleac">
        <h1>Ruben Sanduleac</h1>
        <p>https://github.com/sanduler</p>
        <p>https://www.linkedin.com/in/ruben-sanduleac<p>
    </div>
    <h2>Personal Projects</h2>
    <hr>
    <div>
        <h3>Password Manager</h3>
        <ul>
            <li>
                Designed, tested, and deployed a fully functional GUI using the Tkinter library with the adoption of strong software architecture.
            </li>
            <li>
                Automated the functionality to generate millions of random combinations of passwords with a click of a button.
            </li>
            <li>
                Constructed a local database capable of storing thousands of usernames and passwords using JSON library.
            </li>
        </ul>
        <h3>Quiz Brain Game</h3>
        <ul>
            <li>
                Developed and designed a robust GUI that uses Open Trivia DB API to generate over 4000+ questions for the user to answer.
            </li>
            <li>
                Integrated software engineering principles, such as object-oriented programing to achieve a fully modular code while working with Git version control.
            </li>
        </ul>
        <h3>Space Invaders Emulator</h3>
        <ul>
            <li>
                Mapped hundreds of opcodes from the Space Invaders ROM, into memory of a fully re-engineering an Intel 8080 emulator.
            </li>
            <li>
                Lead sprint reviews, three times a week and daily scrum meetings to touch base with whole team and ensure that all members were performing satisfactorily.
            </li>
        </ul>
        <h3>
            Hiking Website
        </h3>
        <ul>
            <li>
                Mapped input master data from MySQL to filter data by ratings, hikes, and locations.
            </li>
            <li>
                 Monitored standards for user interface and interactive page designs before client reviews.
            </li>
            <li>
                Configured and hosted a full stack website on university servers allowing for full interaction with MySQL.
            </li>
        </ul>
    </div>
    <h2>
        Employment
    </h2>
    <hr>
    <div>
        <h3>Individual Provider</h3>
        <ul>
            <li>Moderated records of patient care, conditions, or emotional problems with 100% accuracy to report and discuss observations with supervisor, case manager, or physician.</li>
            <li>Planned, purchased, and prepared meals, 15+ per week, for the patient, according to the prescribed diet.</li>
            <li>Administered with accuracy prescribed oral medications, under the written direction of a physician or as
directed by home and ensured patients take their medication.</li>
        </ul>
        <h3>Elementary/Middle School Teacher</h3>
        <ul>
            <li>
                Deployed learning resources and achieved on average of 92% in learning performance among all students.
            </li>
            <li>Balanced and accurately tracked issues in groups of 20-40 students as well as working one-on-one to
accommodate different academic levels & learning styles.</li>
            <li>
                Worked unsupervised 90% of the time, and adapted to new situations, while having short deadlines, in a
classroom of 20 or more students.
            </li>
        </ul>
        <h3>Customer Service Agent</h3>
        <ul>
            <li>Maintained above 95% customer satisfaction rate while, organizing, and accurately updating customer information in the company database.</li>
            <li>Provided individualized customer service for over 160 customers per day, with excellent aptitude, tailored to the customer’s needs.</li>
        </ul>
    </div>
    <h2>Languages and Technologies</h2>
    <hr>
    <div>
        <ul>
            <li>Proficient: Python.</li>
            <li>
                Familiar: C++; C; MySQL; Node.JS; MySQL; HTML; CSS; JavaScript.
            </li>
            <li>
                GitHub, Git; Visual Studio;
            </li>
        </ul>
    </div>
</body>
</html>