<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyResume</title>
</head>
<body>
    <div>
        <h1>Ruben Sanduleac</h1>
        <p>https://github.com/sanduler</p>
        <p>https://www.linkedin.com/in/ruben-sanduleac<p>
    </div>
    <hr>
    <h2>Personal Projects</h2>
    <div>
        <h3>Password Manager</h3>
        <ul>
            <li>
                Designed, tested, and deployed a fully functional GUI using the Tkinter library with the adoption of strong software architecture.
            </li>
            <li>
                Automated the functionality to generate millions of random combinations of passwords with a click of a button.
            </li>
            <li>
                Constructed a local database capable of storing thousands of usernames and passwords using JSON library.
            </li>
        </ul>
    </div>
</body>
</html>